.meter {
  width: 5px;
  height: 100%;
  background: #ffffff;
  position: relative;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: #4caf50;
  transition: height 0.05s ease-in-out;
}