.content {
  display: flex;
  height: calc(100vh - 105px);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &>* {
    height: 100%;
  }
}