@import "tailwindcss";
@plugin "../../hero.ts";
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

html,
body {
  min-height: 100vh;
}

main {
  background: linear-gradient(200deg, #787ed3, #9772d2);
}

@layer components {
  * {
    scrollbar-color: hsl(var(--heroui-primary)) transparent;
    scrollbar-width: thin;
  }
}
