name: Build & Push Nginx

on:
    push:
        branches: ['main']
        paths: ['.github/workflows/build-nginx.yaml', 'deploy/nginx/**', 'deploy/docker-compose.yaml']
    workflow_dispatch:

env:
    NGINX_IMAGE: ghcr.io/dikobrazik/squad-speak-nginx

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to Dockerhub
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Nginx for together composing
              uses: docker/build-push-action@v5
              with:
                  context: ./deploy/nginx
                  file: ./deploy/nginx/Dockerfile
                  push: true
                  tags: ${{ env.NGINX_IMAGE }}
