name: Build & Push Backend

on:
  push:
    branches: ['main']
    paths: ['.github/workflows/build-backend.yaml', 'deploy/docker-compose.yaml', 'server/**']
  workflow_dispatch:

env:
  BACKEND_IMAGE: ghcr.io/dikobrazik/squad-speak-backend

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.10.0'
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install -w server
      - run: npm test -w server

  build-backend:
    needs: test-backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Backend
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./server/deploy/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}
